/*CSS variables section*/
:root {
    color:white;
    background:  #ECECEC;
    }
    
    /*Extra Large screens - Extra large desktops*/
    
    /*General CSS and CSS reset*/
    
    html {
      scroll-behavior: smooth;
    }
    
    * {
      margin: 10;
      padding: 10;
    }
    .hero{
        height: 500x;
        background-image: url("https://i.postimg.cc/vH4GydFf/eduexpo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center ;
        overflow: hidden;
    }
    .hero-description{
        height: 500px;
        background-color:rgba(10, 14, 55, 0.7) ;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
    
        
        
    }
    
    .hero-text{
        width: 60%;
    }
    .hero-text p{
        width: 70%;
    }
     h2 {
        height: 150px;
            color: black;
        display: flex;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 800;
        align-items:center;
    
        
    }
    .hero-header{
    
        margin-top: 120px;
        padding-right: 50px;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 800;
    }
    .main{
        width: 90%;
        margin: auto;
    }
    .about{
    
        overflow: hidden;
        
    }
    
    .gallery{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    
    }
    
    .about-image-1{
        height: 600px;
        width: 500px;
    }
    .about-image-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-image-2{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
        
    
    }
    .image-list{
        height: 280px;
        width: 500px;
    }
    .image-list img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .karya-main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .karya-list{
        width: 320px;
        height: 400px;
        position: relative;
        margin:20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .karya-list img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .poster-text{
        height:80px;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        left:0;
        background: transparent;
        right: 0;
        background:rgba(0, 0, 0, 0.7);
        
        padding:20px
        
    }

    .ticket-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .ticket-list{
        width:260px;
        height: 330px;
        margin:20px;
        background-color: #e3e3b9!important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 20px;

        padding: 30px;
        color: rgb(52, 35, 35);
        position: relative;
        overflow: hidden;
    }
    .ticket-header{
        color:rgb(90, 33, 33);
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 740;
        text-align: center;
        padding: 2px 0px;
        
    
    }
    .ticket-icon{
        width:160px;
        height: 140px;
        margin: auto;
    }
    .ticket-text{
        margin-top: 20px;
    }
    .ticket-icon img{
        width: 100%;
        height: 100%;
       object-fit: fill;
       border-radius: 10px;
    
    }
    .ticket-price{
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        border-radius: 30px;
        top:245px;
        left:80px;
        padding:2px 20px;
         font-weight: 800;
    background: rgb(206, 88, 88);
    
    }
    .buy-ticket-main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    label{
        font-weight: 800;
    }
    form{
        padding-top: 25px;
    }
    .buy-ticket-image
    {
        width:400px;
        height: 350px;
    }
    .buy-ticket-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .buy-ticket-form{
        color:black;
        margin:20px;
    }
    
    input{
        padding:10px !important;
        margin: 10px 0px;
        height: 40px;
        border:1px solid ;
        width:60%;
    }
    .footer-dark {
        padding: 20px 0;
        color: #f0f9ff;
        background-color: #282d32;
      }
      
      .footer-dark ul a:hover {
        opacity: 0.5;
      }
      
      @media (max-width:767px) {
        .footer-dark .item:not(.social) {
          text-align: center;
          padding-bottom: 20px;
        }
      }
      
      .footer-dark .item.text {
        margin-bottom: 36px;
      }
      
      @media (max-width:767px) {
        .footer-dark .item.text {
          margin-bottom: 0;
        }
      }
      
      .footer-dark .item.text p {
        opacity: 0.6;
        margin-bottom: 0;
      }
      
      .footer-dark .item.social {
        text-align: center;
      }
      
      @media (max-width:991px) {
        .footer-dark .item.social {
          text-align: center;
          margin-top: 20px;
        }
      }
      
      .footer-dark .item.social > a {
        font-size: 20px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
        margin: 0 8px;
        color: #fff;
        opacity: 0.75;
      }
      
      .footer-dark .item.social > a:hover {
        opacity: 0.9;
      }
      
      .footer-dark .copyright {
        text-align: center;
        padding-top: 24px;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 0;
      }
    
    /*MEDIA QUERIES*/
    /*Large screens - Desktop*/
    
    @media screen and (min-width: 1500px) {
        .hero-text{
            width: 60%;
            
        }
        .about{
            width:90%;
        }
        .about-image-1{
            width: 30%;
            
        }
        .about-image-2{
        flex-direction: row;
        width: 70%;
        height: 600px;
        
        }
    
        .image-list{
            height: 600px;
            margin:auto;
            
    
        }
        
        .gallery{
            justify-content: center;
        
            
        }
        .about{
            width: 90%;
            margin: auto;
        }
        .footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

    
    }
    
    /*medium screens - Laptops*/
    @media screen and (max-width: 1024px) {
        .about-image-1{
            width: 100%;
            height: 500px;
        }
        .image-list{
            height: 240px;
        }
        .about-image-2{
            height: 500px;
            flex-direction: row;
            width: 100%;
        }
        .image-list{
            width: 100%;
        }
        .gallery{
            justify-content: space-evenly;
        }
        .hero-text{
            width: 70%;
        }
        .hero-header{
            font-size: 45px;
        }
    
    }
    
    /*Small screens - tablets*/
    @media screen and (max-width: 768px) {
        
        .about{
            width: 90%;
            margin: auto;
        }
        .about-image-1{
            width: 100%;
            height: 500px;
            margin-bottom: 10px;
    
    
        }
        .about-image-2{
            height: 250px;
        }
        .image-list{
            width: 49%;
            justify-content: space-between;
        }
        .about-image-2{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .sponsor-image{
            margin-bottom: 30px;
        }
        .hero-description{
            justify-content: center;
        }
        .hero-text{
            width:80%;
        }
        .hero-header{
            font-size: 30px;
        }
         h2{
            font-size: 30px;
            height: 100px;
        }
        .karya-list{
            width: 250px;
        }
        
    }
    
    /*Extra small screens - phones*/
    @media screen and (max-width: 480px) {
        .gallery{
            justify-content: center;
        }
        .about{
            width:90%;
            margin: auto;
        }
        .about-image-2{
            height: 250px;
        }
        h2{
            font-size: 30px;
            height: 80px;
        }
        .hero-description{
            justify-content: center;
            align-items: center;
        }
        .hero-text{
            width:90%;
        }
        .poster-text h3{
            font: 16px !important;
        }
        h3{
            width: 100%;
        }
    }